node_modules
.git
.idea
.gitignore
.eslintignore
.eslintrc.json
.prettierrc.js
.browserslistrc
.editorconfig
package-lock.json
package.json
angular.json
karma.conf.js
README.md
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
/src/test.ts
/src/favicon.ico
/src/polyfills.ts
/src/environments
/src/assets
