<div class="header">
  <h1>Simple File Manager</h1>
    <div class="fileList" id="serverResponse">Список файлов: {{list$ | async}}</div>
  <button mat-flat-button type="button" onclick="window.location.href = '';" >Главная</button>
  <button mat-flat-button type="button" onclick="window.location.href = '/create';" >Создать файл</button>
  <button mat-flat-button type="button" onclick="window.location.href = 'delete';" >Удалить файл</button>
  <button mat-flat-button type="button" onclick="window.location.href = 'read';" >Прочитать файл</button>
  <button mat-flat-button type="button" onclick="window.location.href = 'update';" >Обновить файл</button>
</div>
