.header{
  position: relative;
  background-color: black;
  text-align: center;
  padding: 10px 0 10px 0;
  color: white;
  .fileList{
    padding-bottom: 20px;
  }
  button{
    margin-right: 2px;
    margin-left: 2px;
  }
  .active{
    color: red;
  }
}
