<div>
  <app-all-files></app-all-files>
  <div class="notification">{{notification}}</div>
  <div class="body">
    <mat-grid-list cols="2" rowHeight="6:2">
      <mat-grid-tile>
        <form class="example-form">
          <app-create (notification)="notificationEvent($event)"></app-create>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="example-form">
          <app-delete (notification)="notificationEvent($event)"></app-delete>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="example-form">
          <app-read (notification)="notificationEvent($event)"></app-read>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="example-form">
          <app-update (notification)="notificationEvent($event)"></app-update>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="footer">
    by Vladislav Ugarov
  </div>
</div>
